* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --style--color: #f2d026;
    --bg--styling1: #d3502c;
    --bg--styling2: #7476d1;
    --bg--styling3: #1da679;
    --bg--styling4: #d3502c;
    --bg--styling5: #8e9e23;
}


body, html, header {
    height: 100%;
    font-size: 16px;
}

body {
    background: linear-gradient(to right,rgb(225, 226, 245),
    rgb(244, 253, 254),
    rgb(190, 243, 235),
    rgba(160, 188, 194, 1));
    font-family: 'Josefin Sans', sans-serif;
}

section {
    padding: 50px;
}

.section-title {
    width: fit-content;
    margin: 30px auto 50px;
}

.section-title h2 {
    color: black;
    text-align: center;
    padding-bottom: 10px;
    font-size: 48px;
    font-weight: 800;
    position: relative;    
}

.section-title h2::before {
    content: '';
    width: 50%;
    height: 4px;
    position: absolute;
    bottom: 3px;
    background-color: var(--bg--styling1);
}

.section-title h2::after {
    content: '';
    width: 25%;
    height: 4px;
    position: absolute;
    bottom: -4px;
    left: 0;
    background-color: var(--bg--styling1);
}

/* the hero image */
/* 
header {
    display: none;
}
*/

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/2654204.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}

header .hero-text {
    color:white;
    position: absolute;
    bottom: 60%;
    left: 10%;
    text-align: center;
    transform: translate(0, 20%);
}

.hero-text h1 {
    font-size: 40px;
    letter-spacing: .1rem;
    line-height: 3.5rem;
    
}

.hero-text .hero-name {
    color: var(--style--color);
    font-size: 46px;
    display: block;
}

.hero-text h2 {
    line-height: 3.5rem;
}

.hero-text h2 span {
    color: var(--style--color);
    font-size: 2rem;
}

.hero-text p {
    font-size: 1.5rem;
    margin: 2rem 1rem;
    position: absolute;
    bottom: -150px;
}

.hero-image button {
    padding: .5rem 1.3rem;
    border-radius: 20px;
    background-color: var(--style--color);
    border: none;
    font-size: 16px;
    position: absolute;
    bottom: 20%;
    left: 10%;
    transform: translate(140%, 0);
    transition: all 0.3s ease;
}

.hero-image button:hover {
    background-color: #ab931b;
}

.hero-image .socials {
    position: absolute;
    right: 0;
    padding: 30px;
    font-size: 1.8rem;
}

.hero-image .socials a {
    color: var(--style--color);
    transition: all 0.3s ease;
}

.hero-image .socials a:hover {
    color: #ab931b;
}

.fa-linkedin {
    margin-left: 0.5rem;
} 

/* About */

#about {
    position: relative;
}

#about img {
    display: none;
}

.about-text h3, h4 {
    margin-bottom: 20px;
    line-height: 2rem;
}


.about-text h3 span {
    color: var(--bg--styling1);
}

.about-text h3 {
    font-size: 1.6rem;
}

.about-text h4 {
    font-size: 1.4rem;
}

.about-text p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 2rem;
}

.personal-info .container {
    display: flex;
    flex-flow: row wrap;
    text-align: left;
}


.personal-info .container .info-item {
    flex: 0 0 100%;
    padding: 10px 0 10px;
    font-weight: 600;
    font-size: 1.2rem;
}

.personal-info .container .info-item span {
    font-weight: 300;
}

/* portfolio */

#portfolio .container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}

#portfolio .container .portfolio-item {
    flex: 0 0 100%;
    max-width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
}

#portfolio .container .portfolio-item .image-container {
    padding: 20px;
}

#portfolio .container .portfolio-item img {
    max-width: 100%;
    border-radius: 10px;
    height: auto;
}

#portfolio .container .portfolio-item .portfolio-text {
    text-align: center;
}

#portfolio .container .portfolio-item .portfolio-text h4 {
    font-size: 20px;
}



#portfolio .container .portfolio-item .portfolio-text a {
    text-decoration: none;
    display: block;
    border-radius: 0 0 10px 10px;
    background-color: var(--bg--styling4);
    color: black;
    font-weight: 500;
    transition: all 0.3s ease; 
    padding: 15px;
}

#portfolio .container .portfolio-item .portfolio-text a:hover {
    background-color: rgb(157, 154, 150);
}

/* contact */

#contact {
    text-align: center;
    position: relative;
}

.contact-text {
    padding: 10px;
}

.contact-text h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.contact-text h4 {
    font-size: 1.3rem;
}

.contact-icon-list .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-icon-list .contact-item {
    margin-bottom: 10px;
    
}


.contact-icon-list .contact-item h4 {
    margin-bottom: 10px;
    display: inline-block;
    min-width: 100px;
}

.contact-icon-list .contact-item p {
    display: inline-block;
    margin-left: 15px;
    width: 120px;
    font-weight: 300;
}

#contact h3{
    margin: 15px;
    font-size: 1.5rem;
}

.contact-form .form-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contact-form label {
    padding: 10px 0;
    font-weight: 600;
}

.contact-form input {
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px;
    outline: none;
}

.contact-form textarea {
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px;
    outline: none;
}

.contact-form .btn {
    margin-top: 20px;
    height: 30px;
    width: 100%;
    background-color: var(--bg--styling3);
}

.contact-form .btn:hover {
    background-color: #38ca99;
}


@media (min-width: 768px) and (max-width: 1024px) {

    #portfolio .container .portfolio-item {  
        flex: 0 0 47%;
        max-width: 47%;
    }
    
    #portfolio .container .portfolio-item img {
        height: 250px;
    }

  }
  

  @media (min-width: 1025px) {

    .about-text h3 {
        font-size: 2rem;
    }
    
    .about-text h4 {
        font-size: 1.7rem;
    }

    .about-text p {
        font-size: 1.5rem;
    }

    #portfolio .container .portfolio-item {  
        flex: 0 0 32%;
        max-width: 32%;
    }

    #portfolio .container .portfolio-item img {
        height: 300px;
    }

    .form-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .form-container .contact-form {
        width: 40%;
    }

    .form-container .contact-icon-list {
        width: 40%;
        margin-top: 20px;
    }
   
    
  }